@font-face {
  font-family: 'norseBold';
  src: url(assets/Norse-Bold.otf) format('opentype'); 
}

:root{
  --left-padding: 30px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#norse-font{
  font-family: 'norseBold';
  font-size: 60px;
}

.container{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side{
  background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-side > div {
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.6);
}

.left-side > p, a{
  color: white;
  font-size: 12px;
}

.left-side > p{
  margin: 0 auto 10px;
}

img{
  width: 60px;
}

.right-side-top{
  font-weight: 500;
  padding: 80px 60px 35px var(--left-padding);
  background-color: rgba(0, 0, 0, 0.02);
}

.right-side-top > p:first-child{
  margin-bottom: 20px;
}

.right-side-middle{
  padding-left: var(--left-padding);
  box-shadow: 0  4px 3px rgba(0, 0, 0, 0.1);
}

.right-side-middle > p:first-child{
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0 15px 0;
}

#form{
  display: flex;
  column-gap: 30px;
}

form div{
  margin-bottom: 20px;
}


.italic{
  font-style: italic;
}

.green-color{
  color: #596D48;
}

input{
  display: block;
  width: 180px;
  height: 24px;
  outline: none;
  border-width: 0.5px;
  border-radius: 3px;
  border: 0.7px solid #E5E7EB;
}

input:focus{
  border-color: blue;
  box-shadow: 0  4px 4px -2px rgba(0, 0, 0, 0.2);;
}

label{
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


.right-side-bottom{
  padding: 20px 0 0 var(--left-padding);
}

button{
  background-color: #596D48;
  border: none;
  padding: 10px 25px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 20px;
}

.right-side-bottom > p{
  font-weight: 500;
} 