*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}


.container{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side{
  background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  width: 30%;
}

.left-side > div {
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  
}

img{
  width: 60px;
}

.right-side-top{
  font-weight: bold;
  padding: 80px 60px 35px 25px;
  background-color: rgba(0, 0, 0, 0.02);
}

.right-side-top > p:first-child{
  margin-bottom: 20px;
}

.right-side-bottom > p:first-child{
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0 15px 0;
}

.form-top{
  display: flex;
}


.italic{
  font-style: italic;
}



